/* Var */
:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%)
}

/* Border-box*/
html{ 
    box-sizing: border-box;
}
*,
*:before,
*:after {
     box-sizing:inherit;
}

/*Body and background*/
* {
    font-family: "Outfit";
}

body {
    font-size: 15px;
    background-color: var(--lightgray);
}

/*Container box*/
.container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.3rem;
}

/*Image (QR)*/
img.qcode {
    width: 100%;
    align-self: center;
    border-radius: 1rem;
} 

/*Text*/
.firstp {
    font-weight: 700;
    font-size: 6vw;
    text-align: center;
    color: var(--darkblue);
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.secondp {
    font-weight: 400;
    font-size: 4.5vw;
    text-align: center;
    color: var(--grayblue);
    margin: auto;
    padding-bottom: 1.5rem;

}

/*Footer*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*Desktop variation*/
@media screen and (min-width: 376px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        max-width: 375px;
    }

    .firstp {
        font-size: 1.8rem;
    }

    .secondp {
        font-size: 1.3rem;
    }
} 
      